<div class="p-about" id="about">
  <div class="p-about__inner">
    <h2 class="p-about__title">ABOUT</h2>
  </div>

  <div class="p-about__content jsc-pop-button">
    <p class="c-button">BIOGRAPHY's</p>
  </div>

  <div class="c-pop jsc-pop-content">
    <div class="c-pop__bg p-about__bg jsc-pop-close"></div>

    <div class="c-pop__main">
      <p class="c-pop__text">
        電力会社勤務→クラフトビール醸造所勤務→地酒専門店での日本酒・焼酎の販売を経て、
        フロントエンドエンジニアを目指し学習中の身です。<br />
        （WEBデザイナーの妻に教えを乞う日々）<br />
        <br />
        あと息子(３歳)が可愛いです。<br />
        <br />
        ジャパンホームブルワーズ協会会員<br />
        <br />
        ビールが好き過ぎて、サッポロビールのオリジナルビール作り企画に採用されました！<br />
        <a
          class="u-link-underLine"
          href="https://www.hoppin-garage.com/prototype/igusa/"
          target="_blank"
          >https://www.hoppin-garage.com/prototype/igusa/</a
        >
      </p>
    </div>
  </div>
</div>
