<div class="p-contact" id="contact">
  <div class="p-contact__title">
    <h2>CONTACT</h2>
  </div>

  <p class="p-contact__subTitle">for Google FORM</p>
  <div class="p-contact__inner">
    <form
      action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfOji9haTyXLNRELGzVjOID213MhW0IbwPYcW6afwvRtwiBmA/formResponse"
      target="”_blank”"
    >
      <ul>
        <li>
          <div class="p-contact__inputTitle">
            <p>お名前</p>
          </div>
          <input
            class="p-contact__field"
            name="entry.788388106"
            placeholder="山田太郎"
            type="text"
          />
        </li>

        <li>
          <div class="p-contact__inputTitle">
            <p>メールアドレス</p>
          </div>
          <input
            class="p-contact__field"
            name="entry.176886593"
            placeholder="text@example.com"
            type="mail"
          />
        </li>

        <li>
          <div class="p-contact__inputTitle">
            <p>お問い合わせ内容</p>
          </div>
          <textarea
            class="p-contact__field p-contact__textarea"
            name="entry.897318961"
            placeholder="お問い合わせを入力してください"
          ></textarea>
        </li>

        <li>
          <button class="p-contact__btn" type="submit">
            <p>送信する</p>
          </button>
        </li>
      </ul>
    </form>
  </div>
</div>
