<header class="l-header">
  <h1 class="l-header__description jsc-scroll-hide">
    こちらは河北一也のポートフォリオです
  </h1>

  <div class="l-header__inner">
    <a href="#" class="l-header__logo">
      <img src="assets/image/logo.png" alt="河北ポートフォリオロゴ" />
    </a>

    <div class="l-header__navWrap">
      <img
        src="assets/image/icon-hamburger.png"
        class="
          l-header__hamburger l-header__hamburger--open
          jsc-toggle-button-main
        "
        alt="メニューボタン"
      />
      <img
        src="assets/image/icon-close.png"
        class="
          l-header__hamburger l-header__hamburger--close
          jsc-toggle-button-main
        "
        alt="メニューを閉じる"
      />
      <nav class="l-header__nav jsc-nav-wrap-main">
        <ul class="l-header__list">
          <% for (var key in linkArray) {%>
          <li class="l-header__listItem jsc-nav-close">
            <a href="<%= linkArray[key].link %>" class="l-header__listLink">
              <%= linkArray[key].name %>
            </a>
          </li>
          <% } %>
        </ul>
      </nav>
    </div>

    <ul class="l-header__sns">
      <% for (var key in snsArray) {%>
      <li class="l-header__snsItem">
        <a href="<%= snsArray[key].link %>">
          <i class="fab fa-<%= snsArray[key].name %>"></i>
        </a>
      </li>
      <% } %>
    </ul>
    <!-- l-header__sns -->
  </div>
  <!-- l-header__inner -->
</header>
