<% var modalArray=[
  {'name':'Marriage','modalImage':'modal-01',},
  {'name':'Kazuya','modalImage':'modal-02',},
  {'name':'Kawakita','modalImage':'modal-03',},
];%>

<div class="p-modal">
  <ul class="p-modal__contents u-mb-0 slick-modal slick-slider">
    <% for (var key in modalArray) {%>
    <li class="p-modal__list">

      <div class="p-modal__imageBox">
        <img class="p-modal__image jsc-modal"
          src="assets/image/<%= modalArray[key].modalImage %>.jpg" alt="">
      </div>

      <div class="p-modal__textBox">
        <p class="p-modal__name">
          <span class="p-modal__character jsc-modal">
            <%= modalArray[key].name %>
          </span>
        </p>
      </div>

    </li>
    <% } %>
  </ul>
</div>
