<div class="p-skill" id="skill">
  <h2 class="p-skill__title">SKILL</h2>
  <div class="p-skill__inner">
    <ul class="p-skill__list">
      <li><p>HTML5</p></li>
      <li><p>CSS3</p></li>
      <li><p>JavaScript</p></li>
      <li><p>Node.js</p></li>
    </ul>
  </div>

  <div class="p-skill__content jsc-pop-button">
    <p class="c-button">READ MORE</p>
  </div>

  <div class="c-pop jsc-pop-content">
    <div class="c-pop__bg p-skill__bg jsc-pop-close"></div>
    <div class="c-pop__main">

      <h3 class="c-pop__heading">開発環境</h3>
      <p class="c-pop__text">
        Gitによるバージョン管理<br />
        backlogを利用したタスク管理<br />
        Node.js/webpack(yarn)を用いたフロントエンド開発<br />
      </p>

      <h3 class="c-pop__heading">HTML/CSS/JavaScript</h3>
      <p class="c-pop__text">
        BEM思想によるを用いた基本的なマークアップ<br />
        SCSS<br />
        jQueryプラグイン<br />
      </p>

      <h3 class="c-pop__heading">MORE</h3>
      <p class="c-pop__text">
        BOOT STRAP(テンプレ運用)<br />
        WordPress(テンプレ運用)
      </p>

    </div>
  </div>
</div>
