<div class="p-works" id="works">
  <h2 class="p-works__title p-works__title--left">PAST<br>WORKS</h2>
  <h2 class="p-works__title p-works__title--right">PAST<br>WORKS</h2>
  <div class="p-works__inner">
    <div class="p-works__contents">

      <ul class="p-works__list slick-works slick-slider">
        <li class="p-works__item">
          <a href="https://github.com/takiwaka/portfolio1">
            <img src="assets/image/works-01.png" alt="portfolio1" />
          </a>
        </li>

        <li class="p-works__item">
          <a href="https://takiwaka.github.io/portfolio2/">
            <img src="assets/image/works-02.png" alt="portfolio2" />
          </a>
        </li>

        <li class="p-works__item">
          <a href="https://takiwaka.github.io/portfolio3/public/index.html">
            <img src="assets/image/works-03.png" alt="portfolio3" />
          </a>
        </li>
      </ul>

      <div class="p-works__subList slick-works-sub">
        <img src="assets/image/works-01.png" alt="portfolio1" />
        <img src="assets/image/works-02.png" alt="portfolio2" />
        <img src="assets/image/works-03.png" alt="portfolio3" />
      </div>
    </div>
  </div>
</div>
