
<% var title="works" ; var description="worksのdescription" ; %>

<% include src/ejs/template/_head %>
<% include src/ejs/template/_header %>
<div class="p-menu__worksBox">
  <p class="p-menu__worksTitle">制作物</p>

  <a href="works.html" class="p-menu__worksWrap">
    <ul class="p-menu__worksList">
      <li class="p-menu__worksItem">
        <img class="p-menu__worksImg" src="assets/images/image-menu-02.png" alt="ポートフォリオ01">
      </li>
      <li class="p-menu__worksItem">
        <img class="p-menu__worksImg" src="assets/images/image-menu-02.png" alt="ポートフォリオ01">
      </li>
      <li class="p-menu__worksItem">
        <img class="p-menu__worksImg" src="assets/images/image-menu-02.png" alt="ポートフォリオ01">
      </li>
      <li class="p-menu__worksItem">
        <img class="p-menu__worksImg" src="assets/images/image-menu-02.png" alt="ポートフォリオ01">
      </li>
    </ul>

    <ul class="p-menu__worksList">
      <li class="p-menu__worksItem">
        <img class="p-menu__worksImg" src="assets/images/image-menu-02.png" alt="ポートフォリオ01">
      </li>
      <li class="p-menu__worksItem">
        <img class="p-menu__worksImg" src="assets/images/image-menu-02.png" alt="ポートフォリオ01">
      </li>
      <li class="p-menu__worksItem">
        <img class="p-menu__worksImg" src="assets/images/image-menu-02.png" alt="ポートフォリオ01">
      </li>
      <li class="p-menu__worksItem">
        <img class="p-menu__worksImg" src="assets/images/image-menu-02.png" alt="ポートフォリオ01">
      </li>
    </ul>
  </a>
<% include src/ejs/template/_footer %>
