<% var title="河北のポートフォリオ4-works" ; var description="worksのdescription" ; %>

  <% var worksArray=[ {'number':'01','text':'ポートフォリオの説明',}, {'number':'02','text':'ポートフォリオの説明',},
    {'number':'03','text':'ポートフォリオの説明',}, {'number':'04','text':'ポートフォリオの説明',}, ];%>

    <% include src/ejs/template/_head %>
      <div class="p-menu__item scrollify" data-section-name="top">
        <% include src/ejs/template/_header %>

          <div class="p-works__box">

            <h2 class="p-works__title">WORKS</h2>
            <div class="p-works__wrap jsc-pop-stop">

              <% for (var i=0; i < 2; i++) { %>

                <ul class="p-works__list">
                  <% for (var key in worksArray) {%>
                    <li class="p-works__item jsc-pop-button" data-target="pop-<%= worksArray[key].number %>">
                      <img class="p-works__img" src="assets/images/image-works-<%= worksArray[key].number %>.png"
                        alt="ポートフォリオ<%= worksArray[key].number %>画像">
                      <p class="p-works__text">ポートフォリオ<%= worksArray[key].number %>
                      </p>
                    </li>
                    <% } %>
                </ul>

                <% } %>
            </div>
          </div>

          <div id="pop-01" class="c-pop jsc-pop-content">
            <div class="c-pop__bg p-works__bg jsc-pop-close"></div>
            <div class="c-pop__main">
              <p class="c-pop__text">
                ポートフォリオ01
                <a class="u-link-underLine" href="" target="_blank">aa</a>
              </p>
            </div>
          </div>

          <% include src/ejs/template/_footer %>