
<% var title="河北のポートフォリオ4-ABOUT" ; var description="ABOUTのdescription" ; %>

<% include src/ejs/template/_head %>
<% include src/ejs/template/_header %>

<% include src/ejs/template/_footer %>
</div>
</body>

</html>