.l-footer {
  height: 50vh;
  background-color: #000;
  @include mq(o-sp) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  @include mq(u-sp) {
  }

  
  &__inner {
    display: flex;
    @include mq(o-sp) {
      flex-wrap: wrap;
      width: 75%;
    }
    @include mq(u-sp) {
      display: block;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    @include mq(o-sp) {
      width: 75%;
    }
  }

  &__listItem {
    display: flex;
    @include mq(o-sp) {
      width: 25%;
      font-size: 1rem;
    }
    @include mq(u-sp) {
      width: 50%;
      font-size: 2rem;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      &:nth-child(n+3) {
        margin-top: 50px;
      }
    }
  }

  &__others {
    color: $colorGray;
    @include mq(o-sp) {
      display: flex;
      width: 100%;
    }
  }

  &__sns {
    display: flex;
    @include mq(o-sp) {
      justify-content: flex-start;
      width: 75%;
      margin: 50px 0;
    }
    @include mq(u-sp) {
      margin: 50px 0;
      border-top: 1px solid $colorGray;
      border-bottom: 1px solid $colorGray;
    }
  }

  &__snsItem {
    display: flex;
    align-items: center;
    width: 25%;

    @include mq(u-sp) {
      justify-content: center;
      height: 80px;
    }
  }

  &__copy {
    font-size: 0.8rem;
    color: $colorGray;
    text-align: center;
    @include mq(o-sp) {
      display: flex;
      width: 25%;
      align-items: center;
    }
    @include mq(u-sp) {
    }
  }

  &__logo {
    @include mq(o-sp) {
      display: flex;
      align-items: center;
      width: 25%;
      margin-right: 5vw;
    }
    @include mq(u-sp) {
      display: block;
      width: 100%;
      margin-bottom: 50px;
    }
  }
color: #FFF;
}
