<% var title="河北ポートフォリオ4" ; var description="トップのdescription" ; %>
<% include src/ejs/template/_head %>

<% include src/ejs/template/_load %>

<div class="l-wrap jsc-load">

    <ul class="p-pager jsc-pager"></ul>

    <div class="p-menu__item p-hero scrollify" data-section-name="top">
      <div class="p-hero__yellow">
        <h1 class="p-hero__heading">KAZUYA</h1>
      </div>
      <div class="p-hero__gray">
        <h1 class="p-hero__heading">KAWAKITA</h1>
      </div>
    </div>

    <div class="p-menu__item scrollify" data-section-name="about">
      <a href="about.html">about</a>
    </div>

    <div class="p-menu__item scrollify" data-section-name="works">
      <a href="works.html">works</a>
    </div>

    <div class="p-menu__item scrollify" data-section-name="contact">
      <a href="contact.html">contact</a>
    </div>
  <% include src/ejs/template/_footer %>
</div>
</body>
</html>
