<% var title="河北ポートフォリオ4" ; var description="トップのdescription" ; %>

<% include src/ejs/template/_head %>
<div class="p-hero__top"><h1 class="p-hero__heading">white</h1></div>
<div  class="p-hero__bottom"><h1>black</h1></div>
<% include src/ejs/template/_footer %>
