<% var title="河北ポートフォリオ4" ; var description="トップのdescription" ; %>
<% include src/ejs/template/_head %>

<% include src/ejs/template/_load %>

<div class="l-wrap jsc-load">

  <ul class="p-pager jsc-pager"></ul>

  <div class="p-menu__item scrollify" data-section-name="about">

  <ul class="p-menu__linkList">
    <li>
      <a href="about.html" class="">河北一也について</a>
    </li>
    <li>
      <a href="works.html" class="">制作物</a>
    </li>
    <li>
      <a href="api/contact.php">お問い合わせ</a>
    </li>
  </ul>

  <div class="p-menu__hero">
    <p class="p-menu__aboutText">↓click!</p>
  <a href="about.html" class="p-menu__about"></a>
  </div>
</div>

      <% include src/ejs/template/_footer %>
    </div>
    </body>

    </html>