<% var title="河北ポートフォリオ4" ; var description="トップのdescription" ; %>

<% include src/ejs/template/_head %>
<div class="p-hero__yellow">
  <h1 class="p-hero__heading">KAZUYA</h1>
</div>

<div  class="p-hero__gray">
  <h1 class="p-hero__heading">KAWAKITA</h1>
</div>

<div class="p-menu">
  <ul class="p-menu__list">
    <li class="p-menu__item">
      <a href="/portfolio4/public/about.html">about</a>
    </li>
  </ul>
</div>
<% include src/ejs/template/_footer %>
