.p-contact {
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  color: $colorBlack;

  &__title {
    overflow: hidden;
    width: 100%;
    border: solid $colorBlack;
    border-width: 0 0 1rem;
    font-family: "Noto Sans JP";
    font-weight: 1000;
    text-align: center;
    line-height: 0.8;
    letter-spacing: -0.1em;
    @include mq(o-sp) {
      font-size: 8rem;
    }
    @include mq(u-sp) {
      font-size: 5rem;
    }
  }

  &__subTitle {
    text-align: center;
    margin-top: -2px;
  }

  &__inner {
    margin: 0 auto;
    text-align: center;
  }

  &__inputTitle {
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
  }

  &__field {
    width: 100%;
    max-width: 528px;
    height: 30px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #707070;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 16px;
  }

  &__textarea {
    height: 100px;
  }

  &__btn {
    width: 200px;
    margin-top: 3rem;
    padding: 0;
    border: none;
    background-color: #fff;
    p {
      padding: 15px 0px;
      color: $colorWhite;
      font-weight: bold;
      font-size: 20px;
      background-color: $colorBlack;
      border-radius: 12px;
      cursor: pointer;
    }
  }
}
