.p-confirm {
  min-height: 100vh;
  width: auto;

  &__wrap {
    padding-top: 20px;
  }

  &__title {
    @include mq(o-sp) {
      font-size: 2rem;
    }
    @include mq(u-sp) {
      font-size: 1rem;
    }
  }

  &__contents {
    @include mq(o-sp) {
    }
    @include mq(u-sp) {
    }
  }
}
