.p-hero {
  @include mq(o-sp) {
  }
  @include mq(u-sp) {
  }

  &__top {
    background-color: $colorMain;
    @include mq(o-sp) {
    }
    @include mq(u-sp) {
      height: 50vh;
    }
  }
  
  &__heading{
    @include mq(o-sp) {
    }
    @include mq(u-sp) {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
    }


  }

  &__bottom {
    background-color: $colorGray;

    @include mq(o-sp) {
    }
    @include mq(u-sp) {
      height: 50vh;
    }
  }
}
