.p-menu {
  @include mq(o-sp) {
  }
  @include mq(u-sp) {
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(o-sp) {
      width: 100%;
      height: 100vh;
    }
    @include mq(u-sp) {
      width: 100%;
      height: 100vh;
    }
    &:nth-child(even) {
      background-color: $colorGray;
    }
  }

  &__about {
    width: 50vw;
    height: 50vw;
    max-width: 100vh;
    max-height: 100vh;
    margin: 0 auto;
    border-radius: 50%;
    background-color: $colorGray;
    background-image: url("#{$bgPath}image-menu-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__worksBox {
    width: 50vw;
    height: 50vw;
    border-bottom: solid 30px $colorBlack;
  }

  &__worksTitle{
    font-size: 2em;
  }

}
