.p-menu {
  @include mq(o-sp) {
  }
  @include mq(u-sp) {
  }

  &__item {
    position: relative;

    @include mq(o-sp) {
      width: 100vw;
      height: 100vh;
    }
    @include mq(u-sp) {
      width: 100%;
      height: 100vh;
    }
  }

  &__linkList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: auto;
    height: 100px;
    :not(:last-child) {
      margin-right: 20px;
  }
  }

  &__link{
width: 100%;

  }

  &__hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  &__about {
    display: block;
    width: 50vw;
    height: 50vw;
    max-width: 80vh;
    max-height: 80vh;
    margin: 0 auto;
    border-radius: 50%;
    background-color: $colorGray;
    background-image: url("#{$bgPath}image-menu-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
