.p-modal {
  background-color: $colorWhite;
  color: $colorWhite;

  @include mq(o-sp) {
    margin-top: 50px;
  }
  @include mq(u-sp) {
    position: relative;
  }

  &__contents {
    line-height: 0; //slickの下の余白を消すおまじない
    @include mq(o-sp) {
      padding: 0;
    }
    @include mq(u-sp) {
    }
  }
  &__list {
    position: relative;
  }

  &__textBox {
    position: absolute;
    @include mq(o-sp) {
      bottom: 3%;
    }
    @include mq(u-sp) {
      bottom: 20%;
      right: 10%;
    }
  }

  &__name {
    z-index: 1;
    white-space: nowrap;
    font-family: "CastroScript_PERSONAL_USE_ONLY";
    line-height: 1;
    font-size: 11vw;
  }

  &__character {
    display: inline-block;
    opacity: 0;

    &.is-active {
      opacity: 1;
    }
  }

  &__imageBox {
    @include mq(u-sp) {
      margin-top: 47px;
    }
  }

  &__image {
    opacity: 0;
    object-fit: cover;
    transition: all 2s;
    height: 90vh;

    &.is-active {
      opacity: 1;
    }
  }

  &__dots {
    display: flex;
    width: 30%;
    height: 0px;
    margin: 0 auto;
    @include mq(o-sp) {
      position: absolute;
      right: 50px;
      width: 20%;
    }
    @include mq(u-sp) {
    }

    li {
      position: relative;
      width: 100%;
      @include mq(o-sp) {
      }
      @include mq(u-sp) {
      }
      &::after {
        position: absolute;
        right: 0px;
        bottom: 20px;
        width: 20px;
        height: 25px;
        background-image: url("#{$bgPath}dot-black.png");
        background-size: contain;
        background-repeat: no-repeat;
        content: "";
      }
      &.slick-active {
        &::after {
          background-image: url("#{$bgPath}dot-yellow.png");
        }
      }

      button {
        position: absolute;
        right: 9999px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        appearance: none;
      }
    }
  }
}
