.p-skill {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 10vh 0 0 0;
  text-align: left;
  background-repeat: no-repeat;
  background-position: top;
  background-clip: content-box;
  background-size: cover;
  @include mq(o-sp) {
  }
  @include mq(u-sp) {
  }

  &__inner {
    position: relative;
    background-image: url("#{$bgPath}img-skill.jpg");
    width: 100%;
    height: 80vh;
    background-position: top;
    background-size: cover;
  }

  &__title {
    border: solid #000;
    border-width: 0 0 1rem;
    overflow: hidden;
    width: 100%;
    font-family: "Noto Sans JP";
    font-weight: 1000;
    color: #000;
    background-color: #fff;
    line-height: 0.8;
    text-align: center;
    letter-spacing: -0.1em;
    @include mq(o-sp) {
      font-size: 8rem;
    }
    @include mq(u-sp) {
      font-size: 5rem;
    }
  }

  &__list {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    text-align: right;
    letter-spacing: -0.1em;
    @include mq(o-sp) {
      font-size: 10rem;
    }
    @include mq(u-sp) {
      font-size: 8rem;
    }
    line-height: 0.75;
  }


  &__content {
    @include mq(o-sp) {
      position: absolute;
      bottom: 15px;
      left: 5vw;
    }
    @include mq(u-sp) {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__bg {
    background-image: url("#{$bgPath}skill-pop.jpg");
    background-position: center;
    background-size: cover;
  }
}
